@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; 
    height: 100vh; 
    background-color: #101010;
    background-image: url('/pattern.svg');
    color: white;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

