@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0; 
    height: 100vh; 
    background: linear-gradient(to bottom right, #ffa500, #ffeb3b);
    color: white;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

